<% if @gamer %>
    <h1>Welcome <%= @gamer.name %>. Create a new forum!</h1>
<% else %>
    <h2>Here are some forums about your relative game searchs!</h2>
<% end %>


<% @forums.each do |forum| %>
    <h2><a href="/forums/<%= forum.id %>"><%= forum.title %></a></h2>
<% end %>




