<% if @g && @g.errors %>
    <% @g.errors.full_messages.each do |msg| %>
        <p style="color: red;"><%= msg %></p>
    <% end %>
<% end %>

<h1> Start a new community discussion!</h1>
<form method="POST" action="/forums">
    <label for="title">Title</label>
    <input type="text" name="title" value="<%= @g ? @g.title : ""%> ">
    <label for="body">Body</label>
    <textarea  name="body" ><%= @p ? @p.body : ""%></textarea>
    <input type="submit">
</form>